<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MicriCancelli.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <applicationSettings>
    <MicriCancelli.Properties.Settings>
      <!-- Percorso del database SQLite, relativo alla cartella dell'eseguibile -->
      <setting name="dbpathFile" serializeAs="String">
        <value>.\DB\cancelli.db</value>
      </setting>
      <!-- Hash SHA-256 (hex) della password iniziale del pannello Parametri.
           Viene copiato nel DB al primo avvio; da lì in poi si cambia dal pannello stesso. -->
      <setting name="passwordParametriSha256" serializeAs="String">
        <value>c1f30d9b4f5250aa9f4cacb54abd3affd3f9f20db48844e364cdd5d2896bf552</value>
      </setting>
    </MicriCancelli.Properties.Settings>
  </applicationSettings>
</configuration>
